html,body{
	height:100%;
	width:100%;
}
.container{
	text-align: left;
	height:100%;
}

.titles{
	background-color:#463E40;
	height:5%;
	padding-top:1%;
	border-radius:6px;
	padding-left:1%;
	margin-bottom: 2%;
	-webkit-transition:background-color 0.8s ease-out;
 transition:background-color 0.8s ease-out;
}

.titles a{
	display:block;
	text-decoration: none;
	color:white;
	height:100%;
	font-size:2vh;

}

.titles:hover{
background-color:#f0b81f;
}